<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="false" name="false">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
	<test name="ChromeRegressionTest">
		<groups>
			<run>
				<include name="regression"></include>
				<exclude name="smoke"></exclude>
			</run>
		</groups>
		<classes>
			<class name="com.testcases.Regression.FirstTest" />
			<class name="com.testcases.Regression.SecondTest" />
			<class name="com.testcases.Regression.ThirdTest" />
			<class name="com.testcases.Smoke.FirstTest" />
			<class name="com.testcases.Smoke.SecondTest" />
			<class name="com.testcases.Smoke.ThirdTest" />
		</classes>
	</test>
</suite>

